- name: Get IP Addresses for VIP
  block:
    - name: Get New Private IP
      netbox.netbox.netbox_ip_address:
        netbox_url: "{{ netbox_url }}"
        netbox_token: "{{ netbox_token }}"
        validate_certs: no
        data:
          prefix: "{{ network_subnets[network_environment]['vip_subnet'] }}"
        state: new
      register: private_ip
      delegate_to: localhost
      run_once: true

    - name: Get New Public IP
      netbox.netbox.netbox_ip_address:
        netbox_url: "{{ netbox_url }}"
        netbox_token: "{{ netbox_token }}"
        validate_certs: no
        data:
          dns_name: "{{ f5_vip_name }}"
          prefix: "{{ network_subnets[network_environment]['public_subnet'] }}"
        state: new
      register: public_ip
      delegate_to: localhost
      run_once: true

    - name: Set IP info as Fact
      set_stats:
        data:
          private_ip: "{{ private_ip.ip_address.address | ansible.utils.ipaddr('address') }}"
          public_ip: "{{ public_ip.ip_address.address | ansible.utils.ipaddr('address') }}"
      delegate_to: localhost
      run_once: true

  rescue:
    - name: Send Mattermost Failure Message
      community.general.mattermost:
        url: "{{ mattermost_url }}"
        api_key: "{{ mattermost_token }}"
        channel: netops
        text: "Failed to get IP addresses for {{ ritm }}"
        validate_certs: no
      run_once: true
      delegate_to: localhost

    - name: Set Failure Message
      set_stats:
        data:
          fail_msg: "Failed to obtain IPs from Netbox"
      failed_when: yes
